page-ocr-moddal {
  .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  ion-content {
    background-color: lightgrey !important;
  }
  .button-wrapper {
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
  }
  .button-icon {
    position: absolute !important;
    left: 10px !important;
  }
}
