<ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-icon name="person"></ion-icon>
        Par : {{author.displayName}}
      </ion-col>
      <ion-col>
        <ion-icon name="map"></ion-icon>
        A {{author.city}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-icon name="calendar"></ion-icon>
        Le {{dateCalendar}}
      </ion-col>
      <ion-col>
        <ion-icon name="time"></ion-icon>
        {{dateDiff}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card-content>