<ion-tabs #navTabs>
    <ion-tab [root]="tab1Root" tabTitle="Vos Tâches" tabIcon="list" #content swipeBackEnabled="true"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Authentifiction" tabIcon="key"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Configuration" tabIcon="settings"></ion-tab>
    <!--<ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>-->
</ion-tabs>

<ion-menu [content]="content" id="menu-left">
    <ion-header>
        <ion-toolbar color="danger">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-item-divider color="dark">Fonctionalités</ion-item-divider>
        <ion-list>
            <button ion-item menuClose="menu-left" detail-none (click)="showQrPage()" icon-start>
                <ion-icon name="qr-scanner"></ion-icon>
                Flasher un QR code
            </button>
            <button *ngIf="!JeVoisBien" ion-item detail-none (click)="voirMieux()" icon-start>
                <ion-icon name="ios-sunny"></ion-icon>
                Mieux Voir
            </button>
            <button *ngIf="JeVoisBien" ion-item detail-none (click)="voirMieux()" icon-start>
                <ion-icon name="ios-sunny-outline"></ion-icon>
                Arréter de Mieux Voir
            </button>
            <button ion-item menuClose="menu-left" detail-none (click)="logout()" icon-start>
                <ion-icon name="log-out"></ion-icon>
                Se déconnecter
            </button>
            <button ion-item menuClose="menu-left" detail-none (click)="home()" icon-start>
                <ion-icon name="list"></ion-icon>
                Accueil
            </button>
            <button ion-item menuClose="menu-left" detail-none icon-start>
                <ion-icon name="close"></ion-icon>
                Fermer
            </button>
        </ion-list>
    </ion-content>
</ion-menu>