<ion-list>
  <ion-list-header color="light">Options</ion-list-header>
  <button *ngIf="editable" ion-item (click)="basicRequest(request.DELETE)" icon-start>
    <ion-icon name="trash"></ion-icon>Supprimer</button>
  <button *ngIf="editable" ion-item (click)="basicRequest(request.EDIT)" icon-start>
    <ion-icon name="create"></ion-icon>Editer</button>
  <button *ngIf="shareable && editable" ion-item (click)="share()" icon-start [disabled]="!onLine">
    <ion-icon name="share"></ion-icon>Partager
  </button>
  <button *ngIf="importable && editable" ion-item (click)="basicRequest(request.IMPORT)" icon-start [disabled]="!onLine">
    <ion-icon name="cloud-download"></ion-icon>Importer
  </button>
  <button *ngIf="pastable && editable" ion-item (click)="basicRequest(request.PASTE)" icon-start>
    <ion-icon name="link"></ion-icon>Coller
  </button>
  <button *ngIf="copiable && editable" ion-item (click)="basicRequest(request.COPY)" icon-start>
    <ion-icon name="link"></ion-icon>Copier
  </button>
  <button *ngIf="editable && isList" ion-item (click)="basicRequest(request.OCR)" icon-start>
    <ion-icon name="camera"></ion-icon>OCR de Tâches
  </button>
  <button ion-item (click)="basicRequest(request.HELP)" icon-start>
    <ion-icon name="help"></ion-icon>Aide
  </button>
  <button ion-item (click)="close()" icon-start>
    <ion-icon name="close"></ion-icon>Annuler
  </button>
</ion-list>