page-auto-sms {
  ion-content {
    background-color: lightgrey !important;
  }
  ion-card-header {
    background-color: color($colors, light, base);
    border-bottom: 1px solid black;
    margin-bottom: 5px;
  }
  .button-icon {
    position: absolute !important;
    left: 10px !important;
  }
  .button-wrapper {
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: none;
  }
  .entry-title {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid black;
  }
}
