<ion-header>
    <ion-navbar>
        <ion-title *ngIf="todoList | async; let todoList">
            <ion-grid>
                <ion-row>
                    <ion-col col-10>
                        <ion-icon name="{{todoList.icon}}"></ion-icon> Liste: {{todoList.name}}
                    </ion-col>
                    <ion-col col-2>
                        <ion-icon name="ios-create" (click)="editList = !editList"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar></ion-searchbar>
    <ion-list>
        <ion-item-sliding *ngFor="let todo of todoItems|async">
            <ion-item>
                <ion-icon (click)="completeCheck(todo)" name="ios-square-outline" *ngIf="!todo.complete" item-start></ion-icon>
                <ion-icon (click)="completeCheck(todo)" name="ios-checkbox-outline" *ngIf="todo.complete" item-start></ion-icon>
                <h2 (click)="selectTodo(todo.uuid)">{{todo.name}}</h2>
            </ion-item>
            <ion-item-options side="right">
                <button (click)="deleteTodo(todo.uuid)" ion-button color="danger">
                    <ion-icon name="trash">
                        supprimer
                    </ion-icon>
                </button>
            </ion-item-options>
            <ion-item-options side="left">
                <button (click)="deleteTodo(todo.uuid)" ion-button color="danger">
                    <ion-icon name="trash">
                        supprimer
                    </ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <button class="bottom-right-button" ion-fab (click)="createTodo()">
        <ion-icon name="add"></ion-icon>
    </button>
</ion-content>