<ion-header>
    <HeaderComponent></HeaderComponent>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item-divider color="light" icon-start>
            <ion-icon name="open" small></ion-icon> Tâches en cours
        </ion-item-divider>
        <ion-item-group reorder="true" (ionItemReorder)="reorder($event,todoItems)">
            <ng-container *ngFor="let todo of todoItems">
                <ng-container *ngIf="search$ | async as search">
                    <ion-item-sliding *ngIf="areTodoMatching(todo,search)">
                        <ion-item>
                            <ion-icon (click)="completeCheck(todo)" name="ios-square-outline" *ngIf="!todo.complete" item-start></ion-icon>
                            <ion-icon (click)="completeCheck(todo)" name="ios-checkbox-outline" *ngIf="todo.complete" item-start></ion-icon>
                            <h2 (click)="selectTodo(todo.ref, false)">{{todo.name}}</h2>
                            <ion-icon *ngIf="true" name="alert" item-end></ion-icon>
                        </ion-item>
                        <ion-item-options side="right" *ngIf="editable">
                            <button (click)="deleteTodo(todo, false)" ion-button color="danger">
                                <ion-icon name="trash">supprimer</ion-icon>
                            </button>
                        </ion-item-options>
                        <ion-item-options side="left" *ngIf="editable">
                            <button (click)="deleteTodo(todo, false)" ion-button color="danger">
                                <ion-icon name="trash">supprimer</ion-icon>
                            </button>
                        </ion-item-options>
                    </ion-item-sliding>
                </ng-container>
            </ng-container>
        </ion-item-group>
        <ion-item-divider color="light" icon-start>
            <ion-icon name="done-all" small></ion-icon> Tâches Terminées
        </ion-item-divider>

        <ng-container *ngFor="let todo of completedTodoItem">
            <ng-container *ngIf="search$ | async as search">
                <ion-item-sliding *ngIf="areTodoMatching(todo,search)">
                    <ion-item>
                        <ion-icon (click)="completeCheck(todo)" name="ios-square-outline" *ngIf="!todo.complete" item-start></ion-icon>
                        <ion-icon (click)="completeCheck(todo)" name="ios-checkbox-outline" *ngIf="todo.complete" item-start></ion-icon>
                        <h2 (click)="selectTodo(todo.ref, false)">{{todo.name}}</h2>
                    </ion-item>
                    <ion-item-options side="right" *ngIf="editable">
                        <button (click)="deleteTodo(todo, false)" ion-button color="danger">
                            <ion-icon name="trash">supprimer</ion-icon>
                        </button>
                    </ion-item-options>
                    <ion-item-options side="left" *ngIf="editable">
                        <button (click)="deleteTodo(todo, false)" ion-button color="danger">
                            <ion-icon name="trash">supprimer</ion-icon>
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ng-container>
        </ng-container>

        <ion-item-divider color="light" icon-start>
            <ion-icon name="link" small></ion-icon> Tâches importées
        </ion-item-divider>

        <ng-container *ngFor="let todo of exportedTodoItems">
            <ng-container *ngIf="todo != null">
                <ng-container *ngIf="search$ | async as search">
                    <ion-item-sliding *ngIf="areTodoMatching(todo,search)">
                        <ion-item>
                            <ion-icon (click)="completeCheck(todo)" name="ios-square-outline" *ngIf="!todo.complete" item-start></ion-icon>
                            <ion-icon (click)="completeCheck(todo)" name="ios-checkbox-outline" *ngIf="todo.complete" item-start></ion-icon>
                            <h2 (click)="selectTodo(todo.ref, true)">{{todo.name}}</h2>
                        </ion-item>
                        <ion-item-options side="right" *ngIf="editable">
                            <button (click)="deleteTodo(todo, true)" ion-button color="danger">
                                <ion-icon name="trash">supprimer</ion-icon>
                            </button>
                        </ion-item-options>
                        <ion-item-options side="left" *ngIf="editable">
                            <button (click)="deleteTodo(todo, true)" ion-button color="danger">
                                <ion-icon name="trash">supprimer</ion-icon>
                            </button>
                        </ion-item-options>
                    </ion-item-sliding>
                </ng-container>
            </ng-container>
        </ng-container>

    </ion-list>

    <ion-card *ngIf="listAuthor != null">
        <ion-card-header icon-start>
            <ion-icon name="information-circle"></ion-icon>
            La liste à été créée:
        </ion-card-header>
        <author-display [author]="listAuthor"></author-display>
    </ion-card>

    <button *ngIf="editable" class="bottom-right-button" ion-fab (click)="createTodo()">
        <ion-icon name="add"></ion-icon>
    </button>
</ion-content>