<form [formGroup]="authForm">
  <ion-item class="margin-input">
    <ion-icon name="ios-at-outline" item-left></ion-icon>
    <ion-input formControlName="email" type="email" placeholder="Votre addresse e-mail"></ion-input>
  </ion-item>
  <ion-item class="margin-input">
    <ion-icon name="ios-key-outline" item-left></ion-icon>
    <ion-input formControlName="password" type="password" placeholder="Votre mot de passe"></ion-input>
  </ion-item>
  <ion-item class="margin-input">
    <ion-icon name="ios-person-outline" item-left></ion-icon>
    <ion-input formControlName="name" type="text" placeholder="Votre Nom"></ion-input>
  </ion-item>
  <ion-item class="margin-input">
    <ion-icon name="ios-image-outline" item-left></ion-icon>
    <ion-input formControlName="photo" type="url" placeholder="URL de votre photo (optionel)"></ion-input>
  </ion-item>
  <button ion-button (click)="validate()" block [disabled]="!authForm.valid || !netStatus" class="margin-button">
    <ion-icon name="log-in" class="button-icon"></ion-icon>
    {{validText}}
  </button>
</form>