page-todo {
  ion-content {
    background-color: lightgrey !important;
  }
  .sub-option {
    width: 4.5em;
    vertical-align: middle;
    border-left: 1px solid white !important;
  }
  .align-right-green {
    float: right;
    border: 1px solid black;
    background-color: color($colors, secondary, base);
  }
}
