<ion-header>
    <HeaderComponent></HeaderComponent>
</ion-header>

<ion-content padding>
    <ng-container *ngIf="todo != null">

        <ion-card>
            <ion-card-header>
                <ion-item>
                    <ion-icon name="switch" item-start></ion-icon>
                    <ion-label>{{todo.name}}</ion-label>
                    <ion-checkbox large [(ngModel)]="todo.complete" (ionChange)="updateComplete()" [disabled]="completeLoading" item-end></ion-checkbox>
                </ion-item>
            </ion-card-header>
            <ion-card-content>
                {{todo.desc}}
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header icon-start>
                <ion-icon name="alarm"></ion-icon>
                Notifications
            </ion-card-header>
            <ion-card-content>
                <ion-list>

                </ion-list>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header icon-start>
                <ion-icon name="contacts"></ion-icon>
                Contacts
            </ion-card-header>
            <ion-card-content>
                <ion-list>

                </ion-list>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header icon-start>
                <ion-icon name="image"></ion-icon>
                Photo
            </ion-card-header>
            <ion-card-content>

            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header icon-start>
                <ion-icon name="pin"></ion-icon>
                Localisation
            </ion-card-header>
            <ion-card-content>

            </ion-card-content>
        </ion-card>

        <ion-card *ngIf="todo.author != null">
            <ion-card-header icon-start>
                <ion-icon name="information-circle"></ion-icon>
                La tâche à été créée:
            </ion-card-header>
            <author-display [author]="todo.author"></author-display>
        </ion-card>

        <ion-card *ngIf="todo.completeAuthor != null">
            <ion-card-header icon-start>
                <ion-icon name="information-circle"></ion-icon>
                La tâche à été réalisée:
            </ion-card-header>
            <author-display [author]="todo.completeAuthor"></author-display>
        </ion-card>
    </ng-container>
</ion-content>