page-nfc-sender {
  ion-content {
    background-color: lightgrey !important;
  }
  .nfc-img {
    width: 50%;
    margin: auto;
    height: auto;
  }
  .button-wrapper {
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
  }
  .button-icon {
    position: absolute !important;
    left: 10px !important;
  }
}
