<ion-header>
    <ion-navbar>
        <ion-title>Vos Liste de Tâches</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header class="no-padding">
            <button full icon-end ion-button (click)="displayNewList = !displayNewList">
                Nouvelle Liste
                <ion-icon *ngIf="!displayNewList" name="ios-arrow-down"></ion-icon>
                <ion-icon *ngIf="displayNewList" name="ios-arrow-up"></ion-icon>
            </button>
        </ion-card-header>
        <ion-card-content *ngIf="displayNewList">
            <edit-list [listUUID]="null"></edit-list>
        </ion-card-content>
    </ion-card>
    <ion-searchbar></ion-searchbar>
    <ion-list>
        <ion-item-divider color="light">
            Listes de Todo en cours
        </ion-item-divider>
        <ng-container *ngFor="let list of todoList">
            <ion-item-sliding *ngIf="getCompleted(list.items) < list.items.length || list.items.length == 0">
                <ion-item (click)="selectTodoList(list.uuid)">
                    <ion-icon name="{{list.icon}}" item-start></ion-icon>
                    {{ list.name }} ({{getCompleted(list.items)}}/{{list.items.length}})
                    <ion-icon *ngIf="isOneTodoLate(list)" name="alert" item-end></ion-icon>
                </ion-item>
                <ion-item-options side="left">
                    <button ion-button color="danger" (click)="deleteTodoList(list.uuid)">
                        <ion-icon name="trash">
                        supprimer
                        </ion-icon>
                    </button>
                </ion-item-options>
                <ion-item-options side="right">
                    <button ion-button color="danger" (click)="deleteTodoList(list.uuid)">
                        <ion-icon name="trash">
                        supprimer
                        </ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ng-container>


        <ion-item-divider color="light">
            Listes Terminées
        </ion-item-divider>
        <ng-container *ngFor="let list of todoList">
            <ion-item-sliding *ngIf="getCompleted(list.items) == list.items.length && list.items.length > 0">
                <ion-item (click)="selectTodoList(list.uuid)">
                    <ion-icon name="{{list.icon}}" item-start></ion-icon>
                    {{ list.name }} ({{getCompleted(list.items)}}/{{list.items.length}})
                </ion-item>
                <ion-item-options side="left">
                    <button ion-button color="danger" (click)="deleteTodoList(list.uuid)">
                        <ion-icon name="trash">
                        supprimer
                        </ion-icon>
                    </button>
                </ion-item-options>
                <ion-item-options side="right">
                    <button ion-button color="danger" (click)="deleteTodoList(list.uuid)">
                        <ion-icon name="trash">
                        supprimer
                        </ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ng-container>
    </ion-list>
</ion-content>