page-help-modal {
  ion-toolbar {
    color: white;
    text-align: center;
  }
  ion-content {
    background-color: lightgrey !important;
  }
  ion-buttons {
    margin-left: 20px;
    margin-right: 20px;
  }
}
