<ion-header>
    <HeaderComponent></HeaderComponent>
</ion-header>

<ion-content padding>
    <form [formGroup]="todoForm" (ngSubmit)="validate()">
        <ion-card>
            <ion-card-header icon-start>
                <ion-icon name="information-circle"></ion-icon>
                Informations sur la tâche
            </ion-card-header>
            <ion-card-content>
                <ion-item>
                    <ion-label color="primary" stacked>Nom de la tâche</ion-label>
                    <ion-input formControlName="name" type="text" placeholder="Champs Requis"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label color="primary" stacked>Description de la tâche</ion-label>
                    <ion-textarea formControlName="desc" placeholder="Champs optionnel"></ion-textarea>
                </ion-item>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header icon-start>
                <ion-icon name="time"></ion-icon>
                Date et Notification
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item color="light">
                        <ion-icon name="calendar" item-start></ion-icon>
                        Programmer la tâche pour:
                    </ion-item>
                    <button ion-item (click)="selectDate(true)" type="button" color="secondary">
                        {{deadlineStr}}
                    </button>
                    <ion-item color="light">
                        <ion-icon name="alarm" item-start></ion-icon>
                        Programmer une notification:
                    </ion-item>
                    <button ion-item (click)="selectDate(false)" type="button" color="secondary">
                        {{notifStr}}
                    </button>
                </ion-list>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header icon-start>
                <ion-icon name="contacts"></ion-icon>
                Contacts
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item-sliding *ngFor="let contact of this.todo.contacts">
                        <ion-item>
                            {{contact.displayName}} ({{contact.mobile}})
                        </ion-item>
                        <ion-item-options side="right">
                            <button ion-button color="danger" (click)="deleteContact(contact)" type="button">
                                <ion-icon name="trash">
                                    supprimer
                                </ion-icon>
                            </button>
                        </ion-item-options>
                    </ion-item-sliding>
                    <button ion-item color="light" (click)="openContactPopup()" type="button">
                        <ion-icon name="add-circle" item-start></ion-icon>
                        Ajouter des contacts
                    </button>
                    <ion-item color="light">
                        <ion-icon name="text" item-start></ion-icon>
                        <ion-label>SMS à la complétion ?</ion-label>
                        <ion-toggle formControlName="sendSMS"></ion-toggle>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>

        <ion-card *ngIf="netStatus$ | async">
            <ion-card-header icon-start>
                <ion-icon name="image"></ion-icon>
                Photo
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item-sliding *ngFor="let pic of todo.pictures">
                        <ion-item>
                            <ion-thumbnail item-start>
                                <img *ngIf="!(pic.url == null)" [src]="pic.url" />
                            </ion-thumbnail>
                            <progress *ngIf="pic.dl < 100" [value]="pic.dl" max="100" min="0" class="progressbar">{{pic.dl}} %</progress>
                            <ion-input *ngIf="pic.url" type="text" placeholder="Nom de l'image" [(ngModel)]="pic.name" [ngModelOptions]="{standalone: true}"></ion-input>
                        </ion-item>

                        <ion-item-options side="right" *ngIf="!(pic.url == null)">
                            <button ion-button color="danger" (click)="deleteUploadedPic(pic.uuid)" type="button">
                                <ion-icon name="trash">
                                    supprimer
                                </ion-icon>
                            </button>
                        </ion-item-options>
                    </ion-item-sliding>

                    <button ion-item color="light" type="button" (click)="takePicture()">
                        <ion-icon name="camera" item-start></ion-icon>
                        Prendre une photo
                    </button>
                    <button ion-item color="light" (click)="openGalleryWrapper()" type="button">
                        <ion-icon name="images" item-start></ion-icon>
                        Rechercher dans la gallerie
                    </button>
                </ion-list>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header icon-start>
                <ion-icon name="pin"></ion-icon>
                Localisation
            </ion-card-header>
            <ion-card-content>
                <ion-item>
                    <ion-label color="primary" stacked>Addresse de la tâche</ion-label>
                    <ion-textarea formControlName="address" placeholder="Champs optionnel"></ion-textarea>
                </ion-item>
            </ion-card-content>
        </ion-card>

        <ion-card padding>
            <button ion-button full round type="submit" [disabled]="!todoForm.valid">Valider</button>
        </ion-card>
    </form>
</ion-content>