<ion-header>
  <HeaderComponent></HeaderComponent>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Vos Contacts Disponibles
    </ion-card-header>

    <ion-list>
      <ng-container *ngFor="let contact of fullContactList">
        <button ion-item (click)="select(contact)">
          {{contact.displayName}}
          <ion-icon *ngIf="contact.mobile" name="phone-portrait" small></ion-icon>
          <ion-icon *ngIf="contact.email" name="mail" small></ion-icon>
          <ion-icon *ngIf="isSelected(contact)" name="checkmark" item-end></ion-icon>
        </button>
      </ng-container>
    </ion-list>
  </ion-card>
  <ion-card padding>
    <button ion-button full round (click)="dismiss()">Valider</button>
  </ion-card>
</ion-content>