<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button round class="icon-sized" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button round class="icon-sized" (click)="validate()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Contacts</ion-title>
  </ion-navbar>
  <ion-toolbar padding color="dark">
    Selectionner les contacts à ajouter
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-list>
      <ion-list-header color="dark">Vos contacts disponibles</ion-list-header>
      <ng-container *ngFor="let contact of fullContactList">
        <button ion-item (click)="select(contact)" *ngIf="!contact.isHeader">
          {{contact.displayName}}
          <ion-icon *ngIf="contact.mobile" name="phone-portrait" small></ion-icon>
          <ion-icon *ngIf="contact.email" name="mail" small></ion-icon>
          <ion-icon *ngIf="isSelected(contact)" name="checkmark" item-end></ion-icon>
        </button>
        <ion-list-header *ngIf="contact.isHeader" color="light">{{contact.displayName}}</ion-list-header>
      </ng-container>
    </ion-list>
  </ion-card>
  <ion-card class="button-wrapper">
    <button ion-button block (click)="validate()">
      <ion-icon name="checkmark" class="button-icon"></ion-icon>
      Valider
    </button>
  </ion-card>
</ion-content>